* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --card-color-primary: #cccc00;
  --background-card: #170b2a;
}

ul {
  font-size: 30px;
  list-style: none;
}

body {
  background-color: #121214;
  background-image: url(./assets/campo.jpg);
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

body * {
  font-family: "Roboto", sans-serif;
}

#app {
  width: fit-content;
  margin: 52px auto;
  max-width: 1400px;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--card-color-primary);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bottom ul {
  display: flex;
  gap: 70px;
  max-width: 60%;
  margin-bottom: 20px;
}

#bottom ul li {
  list-style-type: none;
  font-size: 25px;
  margin-top: 20px;
}

#bottom {
  color: var(--card-color-primary);
}

header {
  /*margin-bottom: 63px;*/
  text-align: center;
}

header img {
  width: 150px;
}

#cards {
  display: flex;
  gap: 32px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  padding: 32px 23px;
  text-align: center;

  background: var(--background-card);
  border-bottom: 2px solid var(--card-color-primary);
  border-radius: 6px;
  height: fit-content;
}

.card h2 {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;

  padding: 8px 16px;
  border: 1px solid var(--card-color-primary);
  border-radius: 6px;

  width: fit-content;
  margin-inline: auto;
  margin-bottom: 53px;

  color: var(--card-color-primary);
}

.card h2 span {
  color: #e1e1e6;
  font-size: 14px;
  text-transform: uppercase;
}

.card ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 270px;
}

.card ul li + li {
  padding-top: 24px;
  border-top: 1px solid #323238;
}

.card ul li strong {
  font-weight: 900px;
  font-size: 36px;
  line-height: 125%;

  color: #e1e1e6;
}

.card ul li img {
  width: 50px;
  height: 50px;
}

#bottom ul li:hover,
.card h2:hover,
.card ul li strong:hover,
.card ul li img:hover {
  transform: scale(1.2);
}

#bottom ul li,
.card h2:hover,
.card ul li strong,
.card ul li img {
  transition: transform 0.1s;
}

#bottom,
.card {
  animation: appear 1s backwards;
}

@keyframes appear {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
