* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --card-color-primary: #cccc00;
  --background-card: #170b2a;
}

.loser {
  opacity: 0.3;
}

#burguer-input {
  display: none;
}

#burguer-input:hover {
  cursor: pointer;
}

ul {
  font-size: 30px;
  list-style: none;
}

body {
  background-color: #121214;
  background-image: url(./assets/campo.jpg);
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 320px;
}

body * {
  font-family: "Roboto", sans-serif;
}

#app {
  width: fit-content;
  margin: 52px auto;
  max-width: 1400px;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--card-color-primary);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#menu ul {
  display: flex;
  gap: 70px;
  max-width: 60%;
  margin-bottom: 20px;
}

#menu ul li {
  list-style-type: none;
  font-size: 25px;
  margin-top: 20px;
}

#menu {
  color: var(--card-color-primary);
}

header {
  /*margin-bottom: 63px;*/
  text-align: center;
}

header img {
  width: 150px;
}

#cards {
  display: flex;
  gap: 32px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  padding: 32px 23px;
  text-align: center;

  background: var(--background-card);
  border-bottom: 2px solid var(--card-color-primary);
  border-radius: 6px;
  height: fit-content;
}

.card h2 {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;

  padding: 8px 16px;
  border: 1px solid var(--card-color-primary);
  border-radius: 6px;

  width: fit-content;
  margin-inline: auto;
  margin-bottom: 53px;

  color: var(--card-color-primary);
}

.card h2 span {
  color: #e1e1e6;
  font-size: 14px;
  text-transform: uppercase;
}

.card ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 270px;
}

.card ul li + li {
  padding-top: 24px;
  border-top: 1px solid #323238;
}

.card ul li strong {
  font-weight: 900px;
  font-size: 36px;
  line-height: 125%;

  color: #e1e1e6;
}

.card ul li img {
  width: 50px;
  height: 50px;
}

#menu ul li:hover,
.card h2:hover,
.card ul li strong:hover,
.card ul li img:hover {
  transform: scale(1.2);
}

#menu ul li,
.card h2:hover,
.card ul li strong,
.card ul li img {
  transition: transform 0.1s;
}

#menu,
.card {
  animation: appear 1s backwards;
}

@keyframes appear {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* *************** RESPONSIVIDADE ************* */
@media (max-width: 425px) {
  #burguer-input {
    display: block;
    margin: 0.9rem;
    background: none;
    border: none;
    background-image: url(./assets/menu.svg);
    width: 50px;
    height: 50px;
  }

  #menu ul {
    display: none;
  }
  #menu.active,
  #menu.active ul {
    display: flex;
    gap: 0.1px;
    flex-direction: column;
    align-items: center;
  }
}
